// App Global Styles
* {
  font-family: 'roboto';
}

.q-layout-padding {
  padding: 35px;
}

.q-breadcrumbs {
  margin-top: 0px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d7d9db;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app {
  &-bg-color {
    background-color: #f5f5f5;
  }
  &-shadow {
    box-shadow: 0 2px 6px 0 rgba(155, 155, 155, 0.66);
  }
  &-text {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #888888;
  }
  &-h1 {
    font-size: 24px;
    font-weight: bold;
  }
  &-h2 {
    font-size: 20px;
    font-weight: bold;
  }
  &-h3 {
    font-size: 16px;
    font-weight: bold;
  }
  &-title {
    font-size: 18px;
    font-weight: bold;
    color: #4a4a4a;
  }
  &-card-template {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.26px;
    color: #666666;
  }
  &-border {
    border: 1px solid #e1e4e9;
    &-top {
      border-top: 1px solid #e1e4e9;
    }
    &-bottom {
      border-bottom: 1px solid #e1e4e9;
    }
    &-left {
      border-left: 1px solid #e1e4e9;
    }
    &-right {
      border-right: 1px solid #e1e4e9;
    }
  }
  &-tooltip {
    background-color: rgba(39, 39, 39, 0.81);
    font-size: 12px;
  }
  &-card {
    border: 1px solid #e1e4e9;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #d8d8d842;
  }
  &-table-header {
    color: #313134;
    font-size: 14px !important;
    font-weight: 700 !important;
    letter-spacing: 0.4px;
  }
  &-menu {
    &-height {
      min-height: calc(100vh - 74px);
    }
    &-title {
      font-size: 20px;
    }
  }
}
